.u-section-1 .u-sheet-1 {
  min-height: 1348px;
}

.u-section-1 .u-image-1 {
  height: 343px;
  width: 1240px;
  margin: 0 -50px;
}

.u-section-1 .u-group-1 {
  width: 223px;
  min-height: 387px;
  margin: 32px 37px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 182px;
  height: 182px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 8px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 7px 94px 0 90px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 21px 20px 0;
  padding: 7px 38px 9px 36px;
}

.u-section-1 .u-group-2 {
  width: 223px;
  min-height: 388px;
  height: auto;
  margin: -387px 325px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 182px;
  height: 182px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 8px auto 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 11px 94px 0 90px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 21px 20px 0;
  padding: 7px 38px 9px 36px;
}

.u-section-1 .u-group-3 {
  width: 223px;
  min-height: 390px;
  height: auto;
  margin: -392px auto 0 304px;
}

.u-section-1 .u-image-4 {
  width: 182px;
  height: 182px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 13px 30px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 19px 95px 0 90px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 21px 20px 0;
  padding: 7px 38px 9px 36px;
}

.u-section-1 .u-group-4 {
  width: 223px;
  min-height: 402px;
  height: auto;
  margin: -393px auto 0 10px;
}

.u-section-1 .u-image-5 {
  height: 182px;
  width: 182px;
  margin: 20px auto 0 21px;
}

.u-section-1 .u-text-7 {
  margin: 3px 26px 0 23px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 9px auto 0 73px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 37px auto 0;
  padding: 7px 38px 9px 36px;
}

.u-section-1 .u-group-5 {
  width: 221px;
  min-height: 408px;
  height: auto;
  margin: 49px auto 0 146px;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 13px;
}

.u-section-1 .u-image-6 {
  width: 182px;
  height: 182px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 4px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: 19px 94px 0 90px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 49px 14px 0 auto;
  padding: 7px 38px 9px 36px;
}

.u-section-1 .u-group-6 {
  width: 223px;
  min-height: 411px;
  height: auto;
  margin: -411px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 13px;
  padding-top: 0;
}

.u-section-1 .u-image-7 {
  width: 182px;
  height: 152px;
  margin: 1px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 27px 18px 0 38px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  margin: 16px 94px 0 90px;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 46px auto 0 18px;
  padding: 7px 38px 9px 36px;
}

.u-section-1 .u-group-7 {
  width: 223px;
  min-height: 408px;
  height: auto;
  margin: -408px 122px 60px auto;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: 182px;
  width: 182px;
  margin: 20px auto 0 21px;
}

.u-section-1 .u-text-13 {
  margin: 16px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  margin: 0 94px 0 90px;
}

.u-section-1 .u-btn-7 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 300;
  margin: 48px auto 0;
  padding: 7px 38px 9px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-1 .u-image-1 {
    height: 260px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-1 .u-image-1 {
    height: 199px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-1 .u-image-1 {
    height: 149px;
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3322px;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
    width: 440px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-group-1 {
    width: 226px;
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 97px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 35px;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: 39px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 29px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 33px;
    margin-right: auto;
  }
}